.table{
	margin-top:0;
	margin-bottom: 20px;
	width: 100%;
	height: 800px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.table .p_top{
	position: relative;
	background: #f8f8f8;
	height: 40px;
	border-bottom: 1px solid #ddd;
}
.table .p_top span{
	position: relative;
	top: 10px;
	left: 10px;
}
.table .top{
	position: relative;
	height: 20px;
	margin:20px auto;
	left:25%;
}
.table .top .text{
	border:none;
	width: 30px;
	height: 15px;
	border-bottom: 1px solid #ddd;
}
input[placeholder], [placeholder], *[placeholder] {
	color:#a0a0a0 !important;
	font-size: 15px !important;

} 
.table table{
	position: relative;
	margin:30px auto;
	width: 1050px;
	border: 0px;
	border-collapse:collapse; 
 	border-spacing:0; 
 	top:20px;
}
.table table th{
	background: #7dbcff;
	padding: 0; 
	height: 50px;
}
.table table td{
	text-align: center;
	height: 40px;
	border: 1px solid #ddd;
}
.table table input{
	border:none;
	background-color: #ffc468;/*ffaf32,00a201*/
	padding: 3px 8px;
	border-radius: 7px;
	color:#fff;
	font-size: 14px;
	
	cursor: pointer;
}
.table table td img{
	position: relative;
	top:4px;
	left:7px;
}
.td-id{
	background-color: #ffc468;/*ffaf32,00a201*/
	width:100px;
	position: relative;
	border-radius: 7px;
	left:34px;
	cursor: pointer;
}
.txt-notice{
	font-size: 20px;
	text-align: center;
	position: relative;
	top:25px;
}






















