body{
	width:1200px;
	/*background-color: powderblue;*/      /*页面背景颜色*/
	text-align: center;	
	margin:0 auto;
}
.top{
	width:75%;
	/*background-color: gray;*/
	height:100px;
}
.logo{
	position: relative;
	left:-40%;
}
.line1{
	width:2px;
	height:35px;
	background-color:#434343;   /*分割线记得切换颜色*/
	position:relative;
	top:-45px;
	left:20%;
}
.welcome{
	font-size: 30px;
	color:#313131;
	position: relative;
	top:-110px;
	left:-20%;
}
.mini-lunbo{
	position: relative;
	top:-135px;
	height:30px;
	overflow: hidden;
	/*background-color: red;*/ 
}
.mini-lunbo ul{
	position: absolute;
	top:0;
	left:5%;
}
li{
	font-size: 15px;
	list-style: none;
	height: 30px;
	position: relative;
	left:-43%;
	top:-10px;
}
#phone,#username,#password,#password2{
	color:#036dde;
}
.qiehuan{
	position: relative;
	top:-175px;
	left:40%;
}
.line{
	background-color:#036dde;
	width:1200px;
	height:2px;
	position:relative;
	margin:0 auto;
	left:-12%;
}
.title{
	font-size:23px;
	position:relative;
	margin:0 auto;
	text-align: center;
	left:-12%;
	top:20px;
}
.border{
	position: relative;
	top:50px;
}
input{
	background-color: rgba(255,255,255,0.8);
	border:1px solid #fff;
	border-radius: 5px;
	width:200px;
	height:30px;
	margin-left:-6%;
}
.user,.password,.message,.phone,.address,.name{
	position: relative;
	left:21%;
	background:white;
	width:400px;
	height:40px;
	padding-top:10px;
	border:1px solid #c1c1c1;
	border-radius: 5px;
}
.notice-text,.notice-text-1{
	color:#434343;
	position:relative;
	left:-8%;
}
#textinformation{
	position: relative;
	margin-top: 15px;
}
#falv{
	color:#036dde;
}
.notice-text2{
	font-size: 12px;
	position: relative;
	top:-28px;
	left:-18%;
}
.checkbox{
	position:relative;
	left:-25%;
	top:8px;
}
button{
	width:400px;
	height:40px;
	position:relative;
	top:-25px;
	left:-12%;
	background-color: #bfbfbf;
	font-size: 18px;
	color:white;
	border:none;
}
#cut-line{
	width:100px;
	height:1px;
	position:relative;
	background-color: #bfbfbf;
}
.line-left{
	position: relative;
	left:23%;
}
.line-right{
	position: relative;
	left:45%;
	top:-24px;
}
.line-message{
	color: #bfbfbf;
	position: relative;
	top:-12px;
	left:-12%;
	font-size: 15px;
}
.icon>ul>li{
	position: relative;
	left:-27%;
}
.qq{
	position: relative;
	top:-40px;
	margin-left:200px;
}
.taobao{
	position: relative;
	top:-70px;
	margin-left:400px;
}
.weixin{
	position: relative;
	top:-100px;
	margin-left:600px;
}
.bottom-line{
	background-color: #bfbfbf;
	width:100%;
	position: relative;
	height:1px;
	left:-12%;
	top:40px;
}
.footer{
	position:relative;
	top:70px;
	font-size: 11px;
	left:-12%;
	color:#434343;
}
#bottom-notice{
	color:red;
	font-size: 12px;
	position: relative;
	left:102%;
	top:-33px;
	text-align: left;
}
a:link{
	color:#036dde;
	text-decoration: none;
}
a:visited{
	color:#036dde;
	text-decoration: none;
}
a:hover{
	color:#036dde;
	text-decoration: underline;
}
button:hover{
	cursor:pointer;
}

















